extends layout.pug

block content
    main
        .filters-container
            .input-container
                form(action="/", method="get")
                    button.search-button(type='submit')
                        img(src='/assets/search.svg' width='25px' height='25px' alt='search')
                    input(type="text", placeholder="Search for a country...", id="search", name="search", value=searchQuery)
            select#region-filter.region-filter
                option(value='') Not Selected
                option(value='africa', selected=region === 'africa') Africa
                option(value='america', selected=region === 'america') America
                option(value='asia', selected=region === 'asia') Asia
                option(value='europe', selected=region === 'europe') Europe
                option(value='oceania', selected=region === 'oceania') Oceania
        .country-container
            each country in data
                include includes/country-card

    script(src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js")
